@import '../abstract/variaveis';

#servicos{
    margin: 80px;
    h4{
        font-size: $tamanho-texto / 2.5;
        color: $cor-primaria;
        text-transform: uppercase;
        font-weight: 400;
        text-align: center;
        margin: 1rem;
    }
    h3{
        font-size: $tamanho-texto / 1.2;
        text-align: center;
        font-weight: 400;
        margin-bottom: 80px;
    }
    .cards{
        display: flex;
        justify-content: space-evenly;
        .card{
            width: 360px;
            text-align: center;
            h5{
                font-size: $tamanho-texto / 1.5;
                font-weight: 400;

                margin: 25px 0 25px 0;
                color: $cor-primaria;
            }
            p{
                font-size: $tamanho-texto / 3;
                font-weight: 300;
                color: $cor-primaria;
                line-height: 1.5rem;
            }
            .img-container{
                padding-bottom: 5px;
                border-bottom: 4px solid $cor-terciaria;
                margin-bottom: 5px;
                img{
                    max-width: 100%;
                }
            }
        }
    }
}